* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

:root {
    --cyan-50: #ecfeff;
    --cyan-100: #cffafe;
    --cyan-200: #a5f3fc;
    --cyan-300: #67e8f9;
    --cyan-400: #22d3ee;
    --cyan-500: #06b6d4;
    --cyan-600: #0891b2;
    --cyan-700: #0e7490;
    --cyan-800: #155e75;
    --cyan-900: #164e63;
    --cyan-950: #083344;
    --orange-50: #fff7ed;
    --orange-100: #ffedd5;
    --orange-200: #fed7aa;
    --orange-300: #fdba74;
    --orange-400: #fb923c;
    --orange-500: #f97316;
    --orange-600: #ea580c;
    --orange-700: #c2410c;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

#header {
    display: grid;
    background-color: var(--cyan-500);
    box-shadow: 0 0 12px -4px black;
}

#header .title {
    justify-self: center;
    align-self: center;
    padding: 16px;
    font-size: 3rem;
    font-weight: bold;
    color: var(--cyan-200);
}

#content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr;
    gap: 16px;
    padding: 16px;
}

#gameOptions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    row-gap: 16px;
    padding: 16px 0;
    background-color: var(--orange-100);
    color: var(--orange-600);
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
}

#gameOptions > label {
    display: grid;
    justify-items: center;
    text-align: center;
    gap: 8px;
}

#gameOptions > label > input {
    border: 1px solid transparent;
    border-radius: 0.75rem;
    height: 1.5rem;
    width: 50%;
    background-color: var(--orange-200);
    color: var(--orange-700);
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
    box-shadow: 0px 0px 10px -8px transparent;
    transition: 0.5s ease-in-out;
}

#gameOptions > label > input:focus {
    outline: none;
    background-color: var(--orange-300);
    box-shadow: -4px -2px 10px -8px black;
    transition: 0.5s ease-in-out;
}

#gameOptions fieldset {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 8px 32px;
    gap: 32px;
    border: 2px solid var(--orange-300);
}

#gameOptions fieldset label {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    text-align: center;
    gap: 8px;
    color: var(--orange-500);
}

fieldset > label > input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

fieldset > label > input:checked + svg > .c-form__radio-tick {
    stroke-dashoffset: 0;
}

fieldset > label > input:focus + svg > .c-form__radio-circle {
    stroke: var(--orange-500);
}

.c-form__radio-icon {
    height: 1.5rem;
    width: 1.5rem;
    vertical-align: middle;
}

.c-form__radio-circle {
    fill: none;
    stroke: var(--orange-300);
    stroke-width: 1.5;
    transition: stroke 0.3s ease-in;
}

.c-form__radio-tick {
    fill: none;
    stroke: var(--orange-700);
    stroke-dasharray: 33;
    stroke-dashoffset: 33;
    stroke-width: 2;
    transition: stroke-dashoffset 0.3s ease-in;
}

#aiOpponentName {
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
}

#newGame {
    grid-column: 1/-1;
    justify-self: center;
}

.btn {
    background-color: var(--orange-400);
    color: var(--orange-50);
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: -4px -2px 10px -8px black;
    transition: 0.5s;
}

.btn:hover {
    background-color: var(--orange-500);
    transition: 0.5s;
    cursor: pointer;
}

.btn:active {
    background-color: var(--orange-700);
}

#scoreBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.playerOneScoreContainer,
.opponentScoreContainer {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
    background-color: var(--orange-400);
    color: var(--orange-50);
    padding: 8px 16px;
    gap: 4px;
    border-radius: 4px;
    min-width: 50%;
    box-shadow: -4px -2px 10px -8px black;
    transition: all 0.3s ease-in-out;
}

.playerOne,
.opponent {
    padding: 0 8px;
    border-bottom: 2px solid var(--orange-600);
}

.playerOneScore,
.opponentScore {
    transition: all 0.3s ease-in-out;
}

#gameMessageBox {
    display: grid;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 75%;
    background-color: var(--orange-100);
    color: var(--orange-500);
    padding: 8px 16px;
    border-radius: 4px;
    position: relative;
}

#gameMessage {
    display: grid;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-content: center;
    transition: all 0.3s ease-in-out;
}

.scaled {
    transform: scale(2);
}

#gameRematch {
    align-self: center;
    justify-self: center;
    font-weight: bold;
    font-size: 1rem;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
    align-self: center;
    justify-self: center;
    height: 50vh;
    aspect-ratio: 1/1;
    background-color: var(--cyan-700);
    color: var(--orange-700);
    font-size: 14vh;
}

.gameBoardCell {
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: white;
}

.xSVG,
.oSVG {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: stroke-dashoffset 0.3s ease-in;
}

.xSVG.drawn,
.oSVG.drawn {
    stroke-dashoffset: 0;
}